<!DOCTYPE html>
<head>
    <!-- Define o conjunto de caracteres como UTF-8 (suporta acentuação, cedilha, etc.) -->
    <meta charset="UTF-8" />
    <!-- Título da página exibido na aba do navegador -->
    <title>ByteFlow Code Editor</title>
    <!-- Configura o layout para ser responsivo em dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Importa o CSS principal do projeto -->
    <link rel="stylesheet" href="../Inicial/style.css" />
    <!-- Importa o CSS específico do editor -->
    <link rel="stylesheet" href="codeEditor.css" />
    <!-- Importa o CSS base do CodeMirror -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.13/lib/codemirror.css" />
    <!-- Importa o tema "Dracula" para o CodeMirror -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.13/theme/dracula.css" />
    <!-- Importa o script principal do CodeMirror -->
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.13/lib/codemirror.js"></script>
    <!-- Importa o modo de sintaxe Assembly (GAS) para o CodeMirror -->
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.13/mode/gas/gas.js"></script>
</head>

<body>
    <!-- Container principal da página -->
    <div class="container">
        <!-- Cabeçalho com logo e navegação -->
        <header class="header">
            <div class="logo">
                <!-- Logo -->
                <img src="../../assets/logo.png" alt="logo"/>
                <h2>ByteFlow</h2>
            </div>
            <!-- Links de navegação -->
            <nav>
                <a href="../Inicial/index.html" class="nav-link" id="home">Home</a>
                <a href="../UploadCode/uploadCode.html" class="nav-link" id="upload">Upload</a>
                <a href="codeEditor.html" class="nav-link" id="editor">Editor</a>
            </nav>
        </header>
        <!-- Área do editor de código -->
        <div id="codeEditor">
            <h2>Type your Assembly code</h2>
            <!-- Campo onde o usuário digita o código Assembly -->
            <textarea id="assemblyCode"></textarea>
            <br>
            <!-- Botões de ação -->
            <div class="button-group">
                <button id="saveCode">Generate File</button>
                <button id="runCode">Run</button>
            </div>
        </div>
        <!-- Rodapé da página -->
        <footer class="rodape">
            <p>&copy; 2025 ByteFlow. All rights reserved.</p>
        </footer>
    </div>
    <!-- Script adicional para layout da interface -->
    <script src="../Inicial/layout.js"></script>
    <!-- Importa o script que configura o editor e os botões -->
    <script type="module" src="./codeEditor.js"></script>
</body>
</html>
