<!DOCTYPE html>
<head>
    <!-- Codificação de caracteres para suportar acentuação e caracteres especiais -->
    <meta charset="UTF-8" />
    <!-- Título mostrado na aba do navegador -->
    <title>ByteFlow</title>
    <!-- Link para o arquivo CSS principal -->
    <link rel="stylesheet" href="./style.css" />
    <!-- Configuração para tornar a página responsiva em dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Descrição curta para motores de busca -->
    <meta name="description" content="Intepretador assembly" />
    <!-- Palavras-chave para SEO -->
    <meta name="keywords" content="Intepretador assembly, assembly" />
    <!-- Autores da página -->
    <meta name="author" content="Yan Silva, Alexandre Rocha, Jhenifer Gomes" />
    <!-- Ícone que aparece na aba do navegador -->
    <link rel="icon" href="/caminho/do/favicon.ico" type="image/x-icon" />
    <!-- Importa a fonte Roboto do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="header"> 
            <div class="logo">
                <!-- Logo da aplicação -->
                <img src="../../assets/logo.png" alt="logo"/>
                <h2>ByteFlow</h2> <!-- Nome da aplicação -->
            </div>
            
            <nav> <!-- Menu de navegação -->
                <a href="index.html" class="nav-link" id="home">Home</a>
                <a href="../UploadCode/uploadCode.html" class="nav-link" id="upload">Upload</a>
                <a href="../CodeEditor/codeEditor.html" class="nav-link" id="editor">Editor</a>
            </nav>
        </header>
        <div class="inicio"> <!-- Área principal de conteúdo inicial -->
            <h1 align="center">ByteFlow - MIPS Simulator</h1> 
            <br>
            <p align="center"><strong>ByteFlow</strong> is a simulation tool focused on studying MIPS architecture.  
                It allows step-by-step execution of Assembly programs and offers features such as:</p> <!-- Descrição breve -->
            <ul> <!-- Lista das funcionalidades -->
                <li>Reading MIPS instructions and setting execution parameters.</li>
                <li>Graphical visualization of memory and register states at each clock cycle.</li>
                <li>Monitoring of the PC register and representation of the current instruction in binary or hexadecimal.</li>
                <li>Calculation of the total execution time of the program.</li>
            </ul>
            <p>ByteFlow is designed to help understand the internal workings of MIPS processors, making it a useful tool for students and professionals in the field of computer architecture.</p> <!-- Explicação do objetivo -->
        </div>
        <footer class="rodape"> <!-- Rodapé da página -->
            <p>&copy; 2025 ByteFlow. All rights reserved.</p>
        </footer>
    </div>
    <!-- Inclusão do arquivo JavaScript para o layout -->
    <script src="layout.js"></script>
</body>
</html>
