<!DOCTYPE html>
<head>
    <!-- Character encoding (supports special characters like ç, ã, etc.) -->
    <meta charset="UTF-8" />
    <!-- Page title shown in the browser tab -->
    <title>Nome a se pensar ainda</title>
    <!-- Main CSS file -->
    <link rel="stylesheet" href="style.css" />
    <!-- Enables responsive design for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Short description for search engines -->
    <meta name="description" content="Intepretador assembly" />
    <!-- Keywords for SEO -->
    <meta name="keywords" content="Intepretador assembly, assembly" />
    <!-- Page authors -->
    <meta name="author" content="Yan Silva, Alexandre Rocha, Jhenifer Gomes" />
    <!-- Favicon icon for the browser tab -->
    <link rel="icon" href="/caminho/do/favicon.ico" type="image/x-icon" />
    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="logo.png" alt="logo"></img>
                <h2>ByteFlow</h2>
            </div>
            
            <nav>
              <a href="index.html" class="nav-link" id="home">Início</a>
              <a href="uploadCode.html" class="nav-link" id="upload">Upload</a>
              <a href="codeEditor.html" class="nav-link" id="editor">Editor</a>
            </nav>
        </header>
    </div>
    <!-- Inclusão do arquivo JS -->
    <script src="layout.js"></script>
</body>
</html>